
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*.so

*.egg
*.egg-info/
dist/
build/

log/
wandb/
outputs/
logs/
results/


checkpoints/
*.pt
*.pth
*.ckpt
*.h5

.vscode/
.idea/

.ipynb_checkpoints/

.DS_Store
Thumbs.db

venv/
.venv/
env/
ENV/

*.log

*.swp
*~
